<div>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Routing</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" href="#">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/aboutus" href="#">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/contactus" href="#">Contact us <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <!--<h1>Routing example</h1>
  <a routerLink="/login">Login Page</a>
  <a routerLink="/aboutus">About us</a>
  <a routerLink="/home">Home</a>-->
  <router-outlet></router-outlet>
</div>